/* Prereqs */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu:wght@700&display=swap');
*,html{
    margin: 0;
    padding: 0;
}
:root{
    --font-1 : 'Quicksand', sans-serif;
    --font-2 : 'Ubuntu', sans-serif;
}
body{
    background-color: #252525 !important;
    color: white !important;
    
}
.navbar-brand{
    font-family: var(--font-2);
}
.banner{
    position: relative;
    height: 77vh;
    width: 100%;
    background: url(../images/Group\ 8657.png) no-repeat;
    
}

@media screen and (max-width:1140px){
    .banner{
        background-image: url(../images/Ellipse\ 155.png);
}
}
.nav-link{
    font-family: var(--font-1);
    color: white;
}
.nav-link:focus {
    color: orange !important;
}
.head-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 20px;
    color: white;
    text-align: left;
    font-size: xx-large;
    position: absolute;
    top: 20%;
    font-family: var(--font-2)
}
#head_text{
    font-size: medium;
    font-weight: thin;
    font-family: var(--font-1);
   
}

.cta__1{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    height: 85px;
    width: 40%;
    background-color: white;
    color: #252525;
    padding: 15px;
    border-radius: 25px;
    font-family: var(--font-2);
}
.cta__1-title, .cta__1-title-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cta_1_btn{
    font-size: smaller;
    font-weight: bold;
    width: 30%;
    border-radius: 15px;
    
}
#cta_1_btn:focus{
    outline: none;
    box-shadow: none;
}
#hr-1{
    transform: rotate(90deg);
    color: black;
    width: 10%;
    text-align: center;
}
#title,#typehere{
    text-decoration: none;
    border: none;
    outline: none;
    opacity: 0.5;
    font-size: smaller;
    width: 60%;
    text-align: center;
    font-family: var(--font-1);
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-2);
}
a#link_jobs{
    color: rgb(252, 97, 0);
    
}
#feature_small{
    font-size: smaller;
    font-weight: lighter;
    font-family: var(--font-1);
}

.job{
    height: 120px;
    width: 190px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    border-radius: 8%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}
.job_row1{
    display: flex;
    flex-direction: row;
}
.job_title{
    color: #252525;

}
.circle{
    color: rgb(252, 97, 0);
    position: relative;
    top: 10%;
    left: 10%;
    background-color: rgba(252, 97, 0, 0.384);
    opacity: 1;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.job_description{
    color: #252525;
    margin: 1rem 0 0 2rem;
    font-family: var(--font-1);
    font-size: smaller;
}
.bx-chevron-right{
    color: #252525;
    margin: 1rem 0 0 0;
}
.last_job{
    background-color: rgb(252, 97, 0);
    text-align: left;
    font-size: x-large;
    font-weight: bolder;
    line-height: 1.4;

}
#last_job{
    color: white;
}
.last_arrow{
    color: white;
    margin: 2.5rem 0 0 1rem;
}

.advertisement{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: larger;
    height: 20vh;
    width: 75%;
    margin: 5.8rem 0;
}

/* === ABOUT US === */

/* .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-2);
    font-size: larger;
} */
#us{
    color: rgb(252, 97, 0);
    margin: 4px;
}
.about_text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}
.about_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-family: var(--font-2);
    font-size: larger;
}
.about_head{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: x-large;
    color: rgb(252, 97, 0);
    font-weight: 100;
    font-family: var(--font-2);
}
.about_body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-family: var(--font-1);
    font-size: large;
    font-weight: medium;
}
.highlights{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--font-2);
    font-size: medium;
}
.first_highlight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-family: var(--font-1);
    font-size: smaller;
    font-weight: medium;
    margin-top: 20px;
}
.high_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
h6#high_head{
    font-family: var(--font-2);
}

/* .about_body_image{
    display: flex;
    background-color: aliceblue;
    height: 10vh;
    width: 50vh;
    display: flex;;
    align-items: center;
    justify-content: center;
} */